// 아이템 모달
#itemModal.modal.modal-popup.fade(tabindex='-1', role='dialog')
  .modal-dialog(role='document')
    .modal-content
      .modal-body
        .btn-container.row
          .col-xs-12
            .btn.btn-blue.btn-full.btn-md(data-dismiss="modal") 닫기
        .modal-body__inner
          .job 시장관리원
          .title 매대 상인에게 장사를 허가하고 자리를 지정하세요.
          input#chk4(type="checkbox", name="")
          label.checkbox(for="chk4")
          .content 
            img(src="./images/common/mission-details-example.png" alt="아이템")
            | 사진이 처음부터 등장할지 다음에 글이 올지, 글 사이에 사진이 낄지 콘텐츠의 형식은 자유롭다. (정해지지 않았다) 따라서 어떤 상황에서도 적용 가능하도록 작업이 되면 좋겠다.
            | 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 스크롤 하면 본문만 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 스크롤 하면 본문만 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 스크롤 하면 본문만
        