extends layout

block content
  #ending-main
    .container.main
      .ending__title.mb-10
        h2 결과출력받기
      .ending__sub-title.last-sub
        |결과출력소로 이동해주세요.
      .ending__image
      .ending__myId ID 
        span.id 000000