extends layout

block content
  #ending-mission
    .container.mission
      .ending__sub-title
        |가장 인상깊었던 미션 3개를
        br
        |선택해주세요.
      .ending__content
        .mission-check__boxes
          .ending__sub-title 완료 미션
          .mission-check__box
            .mission-check__box--header
              .job 시장관리원
              .title 매대 상인에게 장사를 허가하고 자리를 지정하세요.
              input#chk1(type="checkbox", name="")
              label.checkbox(for="chk1")
            .mission-check__box--body
              |북한 시장의 전체 면적은 183만 9,584제곱미터로 추정된다. 이는 한국의 일산신북한 시장의 전체 면적은 183만 9,584제곱미터로 추정된다. 이는 한국의 일산신
            .mission-check__box--footer.more
              |전문 보기
          .mission-check__box
            .mission-check__box--header
              .job 시장관리원
              .title 장사허가
              input#chk2(type="checkbox", name="")
              label.checkbox(for="chk2")
            .mission-check__box--body
              |북한 시장의 전체 면적은 183만 9,584제곱미터로 추정된다. 이는 한국의 일산신북한 시장의 전체 면적은 183만 9,584제곱미터로 추정된다. 이는 한국의 일산신
            .mission-check__box--footer.more
              |전문 보기
        .mission-check__boxes.outstanding
          .ending__sub-title 미완료 미션
          .mission-check__box
            .mission-check__box--header
              .job 시장관리원
              .title 장사허가
              input#chk3(type="checkbox", name="")
              label.checkbox(for="chk3")
            .mission-check__box--body
              |북한 시장의 전체 면적은 183만 9,584제곱미터로 추정된다. 이는 한국의 일산신북한 시장의 전체 면적은 183만 9,584제곱미터로 추정된다. 이는 한국의 일산신
            .mission-check__box--footer.more
              |전문 보기
      .ending__button
        a(href="javascript:;")
          button.btn(disabled) 선택완료
  
  include ./modals/ending_mission_detailModal

      
