extends layout

block content
  #ending-main
    .container.main
      .ending__title
        h2 게임종료
      .ending__sub-title
        |수남장마당이 
        br
        |종료되었습니다.
        br
        br
        |결과를 확인하기에 앞서
        br
        |내가 완수한 미션을
        br
        |살펴봅니다.
      .ending__button
        a(href="javascript:;")
          button.btn.btn-blue 결과보기