extends layout

block content
  #start
    .container.guide.first.active
      .guide__title
        h2 게임 하는 법
      .guide__number--boxes
        .guide__number.one.active 1
        .guide__number.two 2
        .guide__number.three 3
        .guide__number.four 4
      .guide__image
      .guide__sub-title
        |미션안내소에서
        br
        |미션을 받아요.
      .guide__button
        button.btn.btn-blue(onclick="moveGuide(2);") 다음

    .container.guide.second
      .guide__title
        h2 게임 하는 법
      .guide__number--boxes
        .guide__number.one 1
        .guide__number.two.active 2
        .guide__number.three 3
        .guide__number.four 4
      .guide__image
      .guide__sub-title
        |수남장마당을 돌아다니며
        br
        |미션에 맞는 아이템을 찾아요.
      .guide__button
        button.btn.btn-blue(onclick="moveGuide(1);") 이전
        button.btn.btn-blue(onclick="moveGuide(3);") 다음

    .container.guide.third
      .guide__title
        h2 게임 하는 법
      .guide__number--boxes
        .guide__number.one 1
        .guide__number.two 2
        .guide__number.three.active 3
        .guide__number.four 4
      .guide__image
      .guide__sub-title
        |수남장마당을 돌아다니며
        br
        |미션에 맞는 아이템을 찾아요.
      .guide__button
        button.btn.btn-blue(onclick="moveGuide(2);") 이전
        button.btn.btn-blue(onclick="moveGuide(4);") 다음

    .container.guide.fourth
      .guide__title
        h2 게임 하는 법
      .guide__number--boxes
        .guide__number.one 1
        .guide__number.two 2
        .guide__number.three 3
        .guide__number.four.active 4
      .guide__image
      .guide__sub-title
        |미션확인소로 가서
        br
        |정답 여부를 확인하세요.
      .guide__button
        a(href="./interest.html")
          button.btn.btn-blue 확인
