extends layout

block content
  #start
    .container.guide
      .guide__title
        h2 게임 하는 법
      .guide__number--boxes
        .guide__number.one.active 1
        .guide__number.two 2
        .guide__number.three 3
        .guide__number.four 4
      .guide__image
      .guide__sub-title
        |미션안내소에서
        br
        |미션을 받아요.
      .info__button
        button.btn.btn-blue 다음
