extends layout

block content
  #main
    .container
      .main__nav
        a(href="#").status
           | 상태
           br
           | 보기
        .tabs
          .tab.tab-1
          .tab.tab-2.active
          .tab.tab-3 
      .main__mission
        .mission__card
          .title 시장관리원 미션
          .content 매대 상인에게 장사를 허가하고 자리를 지정하세요.
        .mission__giveup(onclick="showGiveupModal()") 이 미션 포기하기
      .main__items
        .item
          .item__img(style="background-image: url(/images/common/item-image-example.png);")
          .item__title 아이템 하나
          .item__code
            input(type="text" placeholder="코드번호")
            button(type="button") 입력
        .item
          .item__img(style="background-image: url(/images/common/item-image-example.png);")
          .item__title 아이템 둘
          .item__code
            input(type="text" placeholder="코드번호")
            button(type="button") 입력
        .item
          .item__img(style="background-image: url(/images/common/item-image-example.png);")
          .item__title 아이템 셋
          .item__code
            input(type="text" placeholder="코드번호")
            button(type="button") 입력
      .main__hint 
        // 힌트 잔여량 있을 경우
        .hint__card(onclick="showHintModal()")
          .title 힌트 보기
          .count 5/5
        // 힌트 잔여량 없을 경우
        .hint__card.hint__card--none.hidden
          .title 힌트를 다 사용하였습니다.
          .count 0/5
        // 힌트 보기 카드
        .hint__card.hint__card--details.hidden
          .title 힌트 보기
          .content 힌트의 내용. 길이 제한이 없으니, 분량에 비례하여 카드의 길이가 길어져야 할 것이다.


  // 미션 포기 모달
  #giveupModal.modal.modal-popup.fade(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-body
          .confirm 다음 미션을 포기하시겠어요?
          .item 매대 상인에게 장사를 허가하고 자리를 지정하세요.

          .btn-container.row
            .col-xs-6
              .btn.btn-blue.btn-full.btn-md(data-dismiss="modal" aria-label="Close") 포기
            .col-xs-6
              .btn.btn-border.btn-full.btn-md(data-dismiss="modal" aria-label="Close") 계속

  // 힌트 컨첨 모달
  #hintConfirmModal.modal.modal-popup.fade(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-body
          img(src="/images/common/question.png" alt="question")
          .confirm 
            | 게임이 종료될 때까지
            br
            | 총 5번의 힌트를 사용할 수 있습니다.
            br
            | 힌트를 사용하시겠어요?
          .count 4/5

          .btn-container.row
            .col-xs-6
              .btn.btn-border.btn-full.btn-md(data-dismiss="modal" aria-label="Close") 아니요
            .col-xs-6
              .btn.btn-blue.btn-full.btn-md(onclick="getHint()") 예