extends layout

block content
  #main
    .container
      .main__nav
        a(href="#").status
           | 상태
           br
           | 보기
        .tabs
          .tab.tab-1
          .tab.tab-2.active
          .tab.tab-3 
      .main__mission
        .mission__card
          .title 시장관리원 미션
          .content 매대 상인에게 장사를 허가하고 자리를 지정하세요.
        .mission__giveup 이 미션 포기하기
      .main__items
        .item
          .item__img(style="background-image: url(/images/common/item-image-example.png);")
          .item__title 아이템 하나
          .item__code
            input(type="text" placeholder="코드번호")
            button(type="button") 입력
        .item
          .item__img(style="background-image: url(/images/common/item-image-example.png);")
          .item__title 아이템 둘
          .item__code
            input(type="text" placeholder="코드번호")
            button(type="button") 입력
        .item
          .item__img(style="background-image: url(/images/common/item-image-example.png);")
          .item__title 아이템 셋
          .item__code
            input(type="text" placeholder="코드번호")
            button(type="button") 입력
      .main__hint 
        .hint__card
          | 힌트 보기
          .count 5/5