extends layout

block content
  #main
    .container
      .main__nav
        a(href="#").status
           | 상태
           br
           | 보기
        .tabs
          .tab.tab-1.active
          .tab.tab-2
          .tab.tab-3 
      .main__mission
        .mission__card.mission__card--empty
          .content 미션이 없어요.
      .main__items.main__items--empty
        | 미션발급소로 가서
        br
        | 새 미션을 받아보세요.
      