extends layout

block content
  #main
    .container
      .main__nav
        a(href="#").status
           | 상태
           br
           | 보기
        .tabs
          .tab.tab-1
          .tab.tab-2.active
          .tab.tab-3 
      .main__mission
        .mission__card
          .title 시장관리원 미션
          .content 매대 상인에게 장사를 허가하고 자리를 지정하세요.
        .mission__giveup 이 미션 포기하기
