extends layout

block content
  #start
    .container.info
      .info__title
        h2 환경 안내
      .info__sub-title
        |현재 수남장마당 게임을 원활하게 할 수 있는 환경 밖에 있습니다.
      .info__sub-title
        p 
          | iOS 10~
          br
          | Android OS 6~
        p 브라우저 Safari, Chrome
        p.blue.center 수남 장마당 지원 환경
      .info__sub-title
        |이 외의 조건에서는 시각적으로 불편을 겪을 수 있습니다.
      .info__button
        a(href="/start.html")
          button.btn.btn-blue 그대로 진행

      
