extends layout

block content
  #start
    .container.name
      .info__title
        h2 이름 입력
      .info__input
        input.form-control(type="text")
      .info__button
        button.btn(disabled) 확인
        .error.center ID를 다시 한 번 확인해주세요.