extends layout

block content
  #start
    .container.name
      .info__title
        h2 이름 입력
      .info__input
        input.form-control(type="text" name="name")
      .info__button
        button.btn.btn-blue(onclick="setName()" disabled) 확인
