extends layout

block content
  #interest
    .container.select
      .interest__title
        h2 직업 선택
      .interest__sub-title
        |수남장마당에서 맡고 싶은 직업을 2~3개 골라주세요.
      .interest__select--wrap
        .interest__select.btn.btn-md 행방꾼
        .interest__select.btn.btn-md.ml-15.selected 구루미꾼
        .interest__select.btn.btn-md 달리기꾼
        .interest__select.btn.btn-md.ml-15 시장관리원
        .interest__select.btn.btn-md 매대상인
        .interest__select.btn.btn-md.ml-15 메뚜기장사꾼
        .interest__select.btn.btn-md 청진 장마당세대
        .interest__select.btn.btn-md.ml-15 돈주
      .interest__button
        button.btn(disabled) 다음

      
