extends layout

block content
  #start
    .container.login
      .info__title
        h2 등록
      .info__sub-title
        |영수증에 쓰여진
        br
        |ID를 입력해주세요.
      .info__input
        input.form-control(type="text" name="id")
      .info__button
        button.btn.btn-blue(onclick="login()" disabled) 확인
        .error.center.hidden ID를 다시 한 번 확인해주세요.