extends layout

block content
  #mission
    .container.mission-check.levelup
      .mission__top-title
        |수남장마당을 향해 한 걸음
      .mission__title
        h2 평양역
      .mission__box
        .mission__box--picture
      .mission__sub-title.bottom
        |평양직할시 평양
      .mission__button
        button.btn.btn-default.btn-beige(onclick="goTo('./mission_issue_check.html')") 도달