extends layout

block content
  #mission
    .container.mission-issue
      .mission__title
        h2 미션발급소
      .mission__boxes.boxes-3
        // 1개일경우 .boxes-1 2개일경우 .boxes-2 3개일경우 .boxes-3

        // icon 1: 구루마꾼
        // icon 2: 장마당세대
        // icon 3: 매대상인

        .mission__box
          .mission__box--picture.icon1
          .mission__box--title 구루마꾼
        .mission__box
          .mission__box--picture.icon2
          .mission__box--title 장마당세대
        .mission__box
          .mission__box--picture.icon3
          .mission__box--title 매대상인
      .mission__detail
        | 위 직업과 관계된
        br
        | 미션을&nbsp; 
        span N
        | 개 받았습니다.
      .mission__button
        button.btn.btn-white.btn-lg.btn-full(onclick="goTo('./index.html')") 미션 하러가기