extends layout

block content
  #mission
    .container.mission-wrong
      .mission__title
        h2 매대 상인에게 장사를 허가하고 자리를 지정하세요.
        // npc__wrap 이미지 출력 클래스
        // x표시 : npc-1 클래스
        // 남자 : npc-2 클래스
        // 여자 : npc-3 클래스
        .npc__wrap.npc-2
          //- img.npc-1.hide(src="/images/common/tap-1-example.png", alt="icon")
          //- img.npc-2(src="/images/common/tap-2-example(new).png", alt="icon")
          //- img.npc-3.hide(src="/images/common/tap-3-example.png", alt="icon")
      .mission__sub-title
        |맞는 아이템을 고르셨나요? 시장으로 가서 다른 아이템도 찾아보세요.
      .mission__contents
        .mission__items
          .mission__item.right
            .mission__item--number 111
            .mission__item--title 시장관리원의 역할
            .mission__item--content 국가에서 정해준 직업을 가지고 공식적으로
          .mission__item.wrong
            .mission__item--number 201
            .mission__item--title 배떼기/ 북한의 유통구조
            .mission__item--content 행방꾼과 차몰이꾼은 북한 유통구조에서 최
          .mission__item.empty
            .mission__item--content 시장에서 아이템을 찾아보세요.
        .mission__button
          button.btn.btn-default(onclick="goTo('./mission_issue_check.html')") 확인