extends layout

block content
  #mission
    .container.mission-check.levelup
      .mission__top-title 등급 업!
      .mission__title 
        h2 장마당 해설사 1등급
      .mission__box
        .mission__box--picture(style="background-image: url(./images/common/grade-9.png)")
      .mission__sub-title.bottom
        | 회령시장
        span 함경북도 청진시
      .mission__button
        button.btn.btn-beige.btn-full.btn-lg(onclick="goTo('./mission_issue_check.html')") 도달