extends layout

block content
  #misson
    .container
      .misson__title
        h2 미션발급소
      .misson__contents
        .misson__boxes
          .misson__box
            .misson__box--picture
            .misson__box--title 청진 장마당세대
          .misson__box
            .misson__box--picture
            .misson__box--title 시장관리원
          .misson__box
            .misson__box--picture
            .misson__box--title 구루마꾼
        .misson__detail
          |위 직업과 관계된
          |미션을 N개 받았습니다.
        .misson__button
          button.btn.btn-default 미션 하러가기