extends layout

block content
  #mission
    .container.mission-check.current
      .mission__top-title
        |미션 완료
      .mission__title
        h2 장사허가
      .mission__sub-title 
        |매대 상인에게 장사를 허가하고 자리를 지정하세요.
      .mission__sub-title.bottom
        |수남 장마당의 N번째 미션을 완수하였습니다.
      .mission__button
        button.btn.btn-default.btn-beige 확인