extends layout

block content
  #mission
    .container
      .mission__title
        h2 미션발급소
      .mission__nothing
        |미션을 3개 가지고 있어
        br
        |더 이상 발급받을 수 없습니다.
      .mission__button
        button.btn.btn-default(onclick="goTo('./index.html')") 미션 하러가기