extends layout

block content
  #status
    .container.main
      a.status__back(href="javscript:;") < 미션하러 돌아가기
      .status__tabs.tabs
        .tab.active(value="my-status") 내 상태
        .tab(value="my-mission") 완료 미션
      .status__content.my-status.active
        table.table.status__table
          tbody
            tr
              td(colspan="2")
                .title.id 000000
                .content.name 선공
            tr
              td.complete 
                .title 진행 중 미션 수
                .content 3
              td.continue 
                .title 수남역까지 진행현황
                .content
                  span.current 3
                  |/
                  span.total 9
            tr
              td.grade(colspan="2")
                .title 현재 위치
                .content 사리원역
                .image
                .sub__content 평양시 낙랑구역
            tr
              td(colspan="2")
                .title 남은 시간
                .content.time 00:45:18
      .status__content.my-mission
        .status__sub-title 미션을 완료하면 숨겨진 정보를 볼 수 있어요.
        .mission-check__boxes
          .mission-check__box
            .mission-check__box--header
              .job 시장관리원
              .title 장사허가
            .mission-check__box--body
          .mission-check__box
            .mission-check__box--header
              .job 시장관리원
              .title 장사허가
            .mission-check__box--body
          .mission-check__box
            .mission-check__box--header
              .job 시장관리원
              .title 장사허가
            .mission-check__box--body

  // 아이템 모달
  #itemModal.modal.modal-popup.fade(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-body
          .code.mb-10 장사허가
          .title.fw-500 매대 상인에게 장사를 허가하고 자리를 지정하세요.
          .content 
            | 사진이 처음부터 등장할지 다음에 글이 올지, 글 사이에 사진이 낄지 콘텐츠의 형식은 자유롭다. (정해지지 않았다) 따라서 어떤 상황에서도 적용 가능하도록 작업이 되면 좋겠다. 
            | 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 스크롤 하면 본문만 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 스크롤 하면 본문만 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 아이템 내용 스크롤 하면 본문만
          .btn-container
            .btn.btn-blue.btn-full.btn-md(data-dismiss="modal") 닫기