extends layout

block content
  #start
    .container.start
      .info__title
        h2 수남장마당
      .info__sub-title
        |환영합니다.
        br
        br
        |수남장마당을 이용하려면
        br
        |간단한 등록이 필요합니다.
        br
        br
        |우선,
        br
        |지급받은 카드를 이용하여 
        br
        |영수증을 발급받으세요.
      .info__button
        a(href="./login.html")
          button.btn.btn-blue 다음

      
