extends layout

block content
  #start
    .container.start
      .start__container 
        .info__title
          | 놀공의 수남장마당에
          br
          | 오신 것을 환영합니다.

        .info__img
          img(src="./images/common/start.png" alt="수남장마당")

        .info__sub-title
          | 지급받은 카드를 이용하여
          br
          | 입장티켓을 발급받으세요.
      .info__button
        a(href="./login.html")
          button.btn.btn-blue 다음

      
