@import 'variables';

@font-face {
  font-family: 'Noto Sans CJK';
  font-style: normal;
  font-weight: 100;
  src: local('Noto Sans CJK KR Thin'), local('Noto Sans CJK KR-Thin'), local('NotoSansCJKKR Thin');
  src: url('/ex-lib/fonts/notosanscjk/NotoSansCJKkr-Thin.otf');
  src: 
      url('/ex-lib/fonts/notosanscjk/NotoSansCJKkr-Thin.woff') format('woff'),
      url('/ex-lib/fonts/notosanscjk/NotoSansCJKkr-Thin.otf') format('truetype');
}
@font-face {
  font-family: 'Noto Sans CJK';
  font-style: normal;
  font-weight: 300;
  src: local('Noto Sans CJK KR Light'), local('Noto Sans CJK KR-Light'), local('NotoSansCJKKR Light');
  src: url('/ex-lib/fonts/notosanscjk/NotoSansCJKkr-Light.otf');
  src: 
      url('/ex-lib/fonts/notosanscjk/NotoSansCJKkr-Light.woff') format('woff'),
      url('/ex-lib/fonts/notosanscjk/NotoSansCJKkr-Light.otf') format('truetype');
}
@font-face {
  font-family: 'Noto Sans CJK';
  font-style: normal;
  font-weight: normal;
  src: local('Noto Sans CJK KR Regular'), local('Noto Sans CJK KR-Regular'), local('NotoSansCJKKR Regular');
  src: url('/ex-lib/fonts/notosanscjk/NotoSansCJKkr-Regular.otf');
  src: 
      url('/ex-lib/fonts/notosanscjk/NotoSansCJKkr-Regular.woff') format('woff'),
      url('/ex-lib/fonts/notosanscjk/NotoSansCJKkr-Regular.otf') format('truetype');
}
@font-face {
  font-family: 'Noto Sans CJK';
  font-style: normal;
  font-weight: 500;
  src: local('Noto Sans CJK KR Medium'), local('Noto Sans CJK KR-Medium'), local('NotoSansCJKKR Medium');
  src: url('/ex-lib/fonts/notosanscjk/NotoSansCJKkr-Medium.otf');
  src: 
      url('/ex-lib/fonts/notosanscjk/NotoSansCJKkr-Medium.woff') format('woff'),
      url('/ex-lib/fonts/notosanscjk/NotoSansCJKkr-Medium.otf') format('truetype');
}
@font-face {
  font-family: 'Noto Sans CJK';
  font-style: normal;
  font-weight: bold;
  src: local('Noto Sans CJK KR Bold'), local('Noto Sans CJK KR-Bold'), local('NotoSansCJKKR Bold');
  src: url('/ex-lib/fonts/notosanscjk/NotoSansCJKkr-Bold.otf');
  src: 
      url('/ex-lib/fonts/notosanscjk/NotoSansCJKkr-Bold.woff') format('woff'),
      url('/ex-lib/fonts/notosanscjk/NotoSansCJKkr-Bold.otf') format('truetype');
}

// @font-face {
//   font-family: 'Noto Sans CJK';
//   src: url('./../extra/fonts/notosanscjk/NotoSansCJKkr-Thin.otf');
//   font-style: normal;
//   font-weight: 100;
// }
// @font-face {
//   font-family: 'Noto Sans CJK';
//   src: url('./../extra/fonts/notosanscjk/NotoSansCJKkr-Light.otf');
//   font-style: normal;
//   font-weight: 300;
// }
// @font-face {
//   font-family: 'Noto Sans CJK';
//   src: url('./../extra/fonts/notosanscjk/NotoSansCJKkr-Regular.otf');
//   font-style: normal;
//   font-weight: normal;
// }
// @font-face {
//   font-family: 'Noto Sans CJK';
//   src: url('./../extra/fonts/notosanscjk/NotoSansCJKkr-Medium.otf');
//   font-style: normal;
//   font-weight: 500;
// }
// @font-face {
//   font-family: 'Noto Sans CJK';
//   src: url('./../extra/fonts/notosanscjk/NotoSansCJKkr-Bold.otf');
//   font-style: normal;
//   font-weight: bold;
// }

html, body {
  min-height: 100vh;
  height: 100%;
}

body {
  padding: 0;
  font-family: "Noto Sans CJK", Helvetica, Arial, sans-serif;
  background-color: #f5f5f5;
  > div {
    > div {
      height: 100%;
      min-height: 100vh;
    }
  }
}

.modal-open {
  position: relative;
  width: 100%;
  height: 100%;

  .modal {
    overflow-y: hidden;
  }
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    columns: inherit;
    text-decoration: none;
  }
}

/* container */
.container {
  @media(min-width: 768px) {
    width: 750px;
  }
}

/* component  */
.mt-10 {
  margin-top: 10px !important;
}

.mr-10 {
  margin-right: 10px !important;
}

.mb-10 {
  margin-bottom: 10px !important;
}

.ml-10 {
  margin-left: 10px !important;
}

.ml-15 {
  margin-left: 15px !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.center {
  text-align: center !important;
}

.btn {
  &:hover, &:active, &:focus {
    outline: 0;
  }


  &.btn-full {
    width: 100%;
  }

  &.btn-md {
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    padding: 0;
    line-height: 46px;
    letter-spacing: -1.3px;
  }

  &.btn-lg {
    height: 60px;
    font-size: 24px;
    font-weight: bold;
    padding: 0;
    line-height: 54px;
    letter-spacing: -1.6px;
  }

  &.btn-blue {
    border: 2px solid #21a3f4;
    background-color: #21a3f4;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  }

  &.btn-border {
    border: 2px solid #21a3f4;
    background-color: #fff;
    color: #21a3f4;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  }

  &.btn-white {
    border: 2px solid #fff;
    background-color: #fff;
    color: #000;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  }

  &.btn-beige {
    border: 2px solid #e3d0b2;
    background-color: #e3d0b2;
    color: #000;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  }

  &[disabled] {
    background-color: #d4d4d4;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    color: #9b9b9b;
    opacity: 1;
  }
}

// modal-popup 
.modal-popup {

  .modal-dialog {
    position: relative;
    margin: 0 auto;

    .modal-content {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      max-width: 330px;
      width: 100%;
    }
  }
}


// 아이템 모달
#itemModal {
  &.fade {
    .modal-dialog {
      -webkit-transform: translate(0,25%);
      -ms-transform: translate(0,25%);
      -o-transform: translate(0,25%);
      transform: translate(0,25%);
    }
  }

  &.in {
    .modal-dialog {
      -webkit-transform: translate(0,0);
      -ms-transform: translate(0,0);
      -o-transform: translate(0,0);
      transform: translate(0,0);
    }
  }

  .modal-dialog {
    margin: 0;

    .modal-content {
      left: 50%;
      top: auto;
      bottom: 0;
      transform: translate(-50%, 0);
      border-radius: 6px 6px 0 0;
      max-width: calc(100vw - 45px);
      max-height: calc(100vh - 130px);
    }
  }

  .modal-body {
    padding-top: 20px;
    padding-bottom: 40px;
    position: relative;

    &__inner {
      max-height: calc(100vh - 250px);
      overflow: auto;
    }

    .btn-container.row {
      margin-left: -5px;
      margin-right: -5px;
      margin-bottom: 20px;

      & > * {
        padding-left: 5px;
        padding-right: 5px;
      }
    }

    input[type=checkbox] + label {
      top: 100px;
    }

    .item__change {
      position: absolute; 
      top: 12px;
      right: 16px;;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: -0.9px;
      color: #21a3f4;
      cursor: pointer;
    }

    .code {
      font-size: 32px;
      font-weight: bold;
      letter-spacing: -2.1px;
      line-height: 1;
    }

    .title {
      font-size: 20px;
      font-weight: bold;
      line-height: 1.28;
      letter-spacing: -1.3px;
      margin-bottom: 10px;
    }

    .content {
      font-size: 18px;
      font-weight: 300;
      line-height: 1.39;
      letter-spacing: -1px;
      margin-bottom: 10px;
      min-height: calc(100vh - 345px);
      max-height: calc(100vh - 345px);
      // overflow: auto;

      img {
        max-width: 100%;
        margin-bottom: 5px;
      }
    }
  }
}