@import 'variables';

#main {
  padding-bottom: 20px;

  .container {
    padding-left: 20px;
    padding-right: 20px;
    min-height: auto;
  }

  .main__nav {
    position: relative;

    .status {
      position: absolute;
      left: 0;
      top: 12.5px;
      font-size: 20px;
      font-weight: bold;
      line-height: 0.95;
      letter-spacing: -1.3px;
    }

    .tabs {
      text-align: center;

      .tab {
        width: 60px;
        height: 100px;
        @include background(cover);
        display: inline-block;
        position: relative;

        // &.active {
        //   &:before {
        //     content: "";
        //     width: 56px;
        //     height: 56px;
        //     background-color: #e3d0b2;
        //     border-radius: 50%;
        //     position: absolute;
        //     opacity: 0.5;
        //     left: 50%;
        //     top: 50%;
        //     transform: translate(-50%, -50%);
        //   }
        // }

        &.tab-1 {
          background-image: url(./../images/common/tap-1-example.png);

          &.active {
            background-image: url(./../images/common/tap-1-example_active.png);
          }
        }
        &.tab-2 {
          background-image: url(./../images/common/tap-2-example.png);

          &.active {
            background-image: url(./../images/common/tap-2-example_active.png);
          }
        }
        &.tab-3 {
          background-image: url(./../images/common/tap-3-example.png);

          &.active {
            background-image: url(./../images/common/tap-3-example_active.png);
          }
        }


      }
    }
  }

  .main__notice {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.22;
    letter-spacing: -1.2px;
    margin-bottom: 12px;
  }

  .main__mission {
    margin-bottom: 12px;

    .mission__card {
      background-color: #e3d0b2;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      border-radius: 5px;
      padding: 6px 25px 17px;
      margin-bottom: 7px;

      .title {
        text-align: center; 
        font-size: 18px;
        font-weight: bold;
        letter-spacing: -1.2px;
        color: #fff;
        margin-bottom: 10px;
      }

      .content {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: -1px;
        color: #000;
      }

      &.mission__card--empty {
        background-color: #d4d4d4;
        padding: 42px 10px 39px;

        .content {
          line-height: 1.4;
          letter-spacing: -1.3px;
          text-align: center;
        }
      }
    }

    .mission__giveup {
      text-align: right;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: -0.9px;
      color: #21a3f4;
      cursor: pointer;
    }
  }

  .main__items {
    &.main__items--empty {
      text-align: center;
      height: calc(100vh - 250px);
      @include flex();
      font-size: 24px;
      font-weight: 500;
      letter-spacing: -1.6px;
      color: #000;
    }

    .item {
      margin-bottom: 17px;
      background-color: #ffffff;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      border-radius: 5px;
      padding: 9px 12px 19px 70px;
      position: relative;

      &__code {
        font-size: 32px;
        font-weight: bold;
        letter-spacing: -2.1px;
      }

      &__img {
        width: 48px;
        height: 48px;
        @include background(cover);
        position: absolute;
        top: 15px;
        left: 12px;
      }

      &__title {
        font-size: 20px;
        font-weight: bold;
        line-height: 1.28;
        letter-spacing: -1.3px;
        color: #000;
        margin-bottom: 6px;
      }

      &__code--input {
        input {
          font-size: 18px;
          font-weight: 500;
          letter-spacing: -1.3px;
          width: calc(100% - 50px);
          border: none;
          border-bottom: 1px solid #4a4a4a;
          padding-bottom: 6px;
          @include placeholder();

          &:focus {
            outline: none;
          }
        }

        button {
          font-size: 18px;
          font-weight: 500;
          letter-spacing: -1px;
          color: #000;
          background: transparent;
          border: none;
          padding: 0;
          margin-left: 9px;

          &:focus {
            outline: none;
          }
        }
      }

      &__content {
        font-size: 18px;
        font-weight: 300;
        line-height: 1.33;
        letter-spacing: -2px;
        color: #9b9b9b;
        text-overflow:ellipsis;
        white-space:nowrap;
        word-wrap:normal;
        overflow:hidden;
      }

      &.done {
        padding: 10px 15px 15px;

        .item__title {
          font-size: 18px;
          font-weight: 500;
          line-height: normal;
          letter-spacing: -1px;
          margin-bottom: 0;
        }
      }
    }
  }

  .main__hint {
    .hint__card {
      background-color: rgba(227, 208, 178, 0.5);
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      border-radius: 5px;
      padding: 15px 17px 19px;
      font-size: 20px;
      font-weight: bold;
      line-height: 1.28;
      letter-spacing: -1.3px;
      color: #000;
      position: relative;

      .count {
        position: absolute;
        top: 15px;
        right: 20px;
      }

      .content {
        font-size: 18px;
        font-weight: 300;
        line-height: 1.33;
        letter-spacing: -2px;
        color: #000;
        margin-top: 5px;
      }

      &.hint__card--none {
        background-color: rgba(212, 212, 212, 0.5);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        color: #9b9b9b;
      }
    }
  }
}

// 미션 포기 모달
#giveupModal {
  .modal-body {
    padding-top: 77px;
    text-align: center;
    word-break: keep-all;

    .confirm {
      font-size: 20px;
      font-weight: 500;
      line-height: 1.4;
      letter-spacing: -1.3px;
      margin-bottom: 60px;
    }

    .item {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.25;
      letter-spacing: -2.6px;
      margin-bottom: 72px;
    }

    .btn-container.row {
      margin-left: -5px;
      margin-right: -5px;

      & > * {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
}

// 아이템 코드 오류 모달
#errorCodeModal, #errorDuplicateModal {
  .modal-body {
    padding-top: 34px;
    text-align: center;
    word-break: keep-all;

    img {
      height: 53px;
      margin-bottom: 52px;
    }

    .confirm {
      font-size: 20px;
      font-weight: 500;
      line-height: 1.4;
      letter-spacing: -1.3px;
      margin-bottom: 90px;
    }
  }
}

// 힌트 컨펌 모달
#hintConfirmModal {
  .modal-body {
    padding-top: 34px;
    text-align: center;
    word-break: keep-all;

    img {
      height: 53px;
      margin-bottom: 27px;
    }

    .confirm {
      font-size: 20px;
      font-weight: 500;
      line-height: 1.4;
      letter-spacing: -1.3px;
      margin-bottom: 11px;
    }

    .count {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 25px;
    }

    .btn-container.row {
      margin-left: -5px;
      margin-right: -5px;

      & > * {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
}

// 진야 시간 타이머 모달
#timerModal {
  .modal-body {
    padding-top: 68px;
    text-align: center;
    word-break: keep-all;

    .confirm {
      font-size: 20px;
      font-weight: 500;
      line-height: 1.4;
      letter-spacing: -1.3px;
      margin-bottom: 72px;
    }

    .count {
      font-size: 32px;
      font-weight: bold;
      margin-bottom: 45px;
    }
  }
}