#interest {
  text-align: center;
  .container {
    padding: 0 32.5px;
    display: none;
    &.active {
      display: block;
    }
  }
}

.entrance {
  .interest {
    &__sub-title {
      padding: 0;
    }

    &__box {
      max-width: 225px;
    }
  }
}

.interest {
  
  &__title {
    margin-top: 58px;
    margin-bottom: 16px;
    h2 {
      font-size: 32px; 
    }
  }

  &__sub-title {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -1.6px;
    padding: 0 30px;
    + .interest__boxes {
      margin-top: 72px;
    }
  }

  &__select {
    
    &--wrap {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      margin: 23px 0 40px;
    }

    border: 1.5px solid #d4d4d4;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    color: #9b9b9b;
    margin-bottom: 30px;
    width: calc(50% - 7.5px);

    &.selected {
      border: solid 1.5px #21a3f4;
      color: #21a3f4;
      &.btn {
        &:hover, &:active, &:focus {
          color: #21a3f4;
        }
      }
    }

    &.btn {
      &:hover, &:active, &:focus {
        color: #9b9b9b;
      }
    }
  }

  &__button {
    // margin-bottom: 56px;
    min-height: 84px;
    button { 
      font-size: 20px;
      font-weight: bold;
      letter-spacing: -1.3px;
      min-height: 48.5px;
      width: 100%;
    }

    a {
      border-bottom: 2.5px solid #21a3f4;
      color: #21a3f4;
      display: inline-block;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: -1.3px;
      padding: 4px 17px;
      // margin-top: 10px;
    }

  }

  &__boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 75px;
    margin-bottom: 122px;
  }

  &__box {
    flex: 1;
    min-width: 98px;
    margin-left: 12.5px;

    &:first-child {
      margin-left: 0;
    }
    &--picture {
      height: 223.5px;
      background: #d8d8d8;
    }
    &--title {
      font-size: 18px;
      font-weight: 500;
      font-style: normal;
      display: flex;
      align-items: center;
      justify-content: center;
      letter-spacing: -1px;
      text-align: center;
      height: 47px;
      word-break: keep-all;
      padding-top: 5px;
    }
  }

}