#start {
  text-align: center;

  .container {
    padding: 0 22px;
  }
}

.info {
  padding: 0 22.5px;
  word-break: keep-all;

  &__title {
    margin-top: 58px;
    margin-bottom: 36px;

    h2 {
      margin: 0;
      font-size: 32px; 
      font-weight: bold;
    }
  }

  &__sub-title {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0;
    margin-bottom: 43px;

    p {
      text-align: left;
      &.blue {
        color: #21a3f4;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: -1.3px;
      }
    }
  }

  &__input {
    margin-top: 33px;

    input {
      height: 40px;
      background: transparent;
      border: 0;
      border-radius: 0;
      border-bottom: 3px solid #000000;
      box-shadow: none;
      font-size: 24px;
      font-weight: 500;
      text-align: center;
      color: #000;

      &:focus {
        box-shadow: none;
        border: 0;
        border-bottom: 3px solid #000000;
      }
    }
  }

  &__button {
    button {
      font-size: 20px;
      font-weight: bold;
      letter-spacing: -1.3px;
      min-height: 48.5px;
      width: 100%;
      
      &.btn-blue {
        background-color: #21a3f4;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
        color: #ffffff;
      }

      &.btn {
        &[disabled] {
          background-color: #d4d4d4;
          border-color: #d4d4d4;
          box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
          color: #9b9b9b;
          opacity: 1;
        }
      }
    }
  }
}

.start {
  .info {
    &__title {
      font-size: 24px;
      font-weight: 500;
      letter-spacing: -1.6px;
      margin-bottom: 17px;
    }

    &__img {
      margin-bottom: 21px;

      img {
        max-width: 226px;
      }
    }

    &__sub-title {
      font-size: 18px;
      font-weight: 500;
      letter-spacing: -1.2px;
      margin-bottom: 18px;
    }

    &__button {
      margin-top: 18px;
      margin-bottom: 18px;
    }
  }
}

.login {
  .info {
    &__title {
      margin-bottom: 10px;
      h2 {
        font-weight: bold;
      }
    }

    &__sub-title {
      margin-bottom: 100px;
    }

    &__button {
      margin-top: 22px;
      button {
        margin-bottom: 10px;
      }

      .error {
        text-align: left;
        color: #21a3f4;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: -1.3px;
      }
    }
  }
}

.name {
  .info {
    &__title {
      margin-bottom: 178px;
      h2 {
        font-weight: bold;
      }
    }

    &__button {
      margin-top: 22px;
      button {
        margin-bottom: 10px;
      }

      .error {
        text-align: left;
        color: #21a3f4;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: -1.3px;
      }
    }
  }
}

.guide {
  display: none;

  &.active {
    display: block;
  }

  &__title {
    margin-top: 58px;
    margin-bottom: 36px;
    h2 {
      font-size: 32px; 
    }
  }

  &__sub-title {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.8px;
    margin-bottom: 22px;
  }

  &__number {
    background-image: url("./../images/common/number-off.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 56.5px;
    height: 56.5px;
    float: left;
    font-size: 32px;
    font-weight: bold;
    padding-top: 4px;
    position: relative;

    & + div {
      margin-left: 28px;
    }

    &.active {
      background-image: url("./../images/common/number-on.png");
    }

    &--boxes {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 60px;
    }

    &:after {
      content: ' ';
      background: #000000;
      position: absolute;
      width: 28px;
      height: 3px;
      right: -28px;
      top: 50%;
      transform: translateY(-50%);
    }

    &:last-child {
      &:after {
        content: none;
      }
    }
  }

  &__image {
    background-color: #d8d8d8;
    margin: 30px auto;
    min-width: 225px;
    max-width: 225px;
    min-height: 225px;
    background-size: cover;
    background-position: center;
  }

  &__button {
    display: flex;

    a {
      width: 100%;
    }

    button {
      font-size: 20px;
      font-weight: bold;
      letter-spacing: -1.3px;
      min-height: 48.5px;
      width: 100%;
      flex: 1;

      &.btn-blue {
        background-color: #21a3f4;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
        color: #ffffff;
      }

      & + button {
        margin-left: 10px;
      }
    }
  }
}

@media (max-width: 320px) {
  .info {
    &__title {
      margin-top: 25px;
    }

    &__sub-title {
      letter-spacing: -2.6px;
    }
  }

  .guide {
    &__title {
      margin-top: 29px;
      margin-bottom: 18px;
    }

    &__image {
      margin: 20px auto;
    }
  }
}