@charset "UTF-8";
@import 'codykit';

$GREEN_COLOR: #adce14;
$GREEN_D_COLOR: #d6ff16;
$GRAY_6_COLOR: #666666;
$GRAY_8_COLOR: #888888;
$BLUE_COLOR: #000048;

$MOBILE_320_MAX_WIDTH: 320px;
$MOBILE_MAX_WIDTH: 767px;
$TABLET_MAX_WIDTH: 991px;
$WEB_MAX_WIDTH: 1199px;
$TABLET_MIN_WIDTH: 768px;
$WEB_MIN_WIDTH: 992px;
$WIDE_WEB_MIN_WIDTH: 1200px;


// background 속성
@mixin background ($size) {
  background-size: $size;
  background-repeat: no-repeat;
  background-position: center;
}